<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Coordinates</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>Latitude: {{ latitude }}</ion-item>
        <ion-item>Longitude: {{ longitude }}</ion-item>
        <ion-item>Accuracy: {{ accuracy }}</ion-item>
      </ion-card-content>
    </ion-card>

    <div id="photo-container">
      <img alt="Photo" *ngIf="photo" [src]="photo" />
      <img *ngIf="!photo" src="assets/placeholder.png" />
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
</ion-content>