<ion-header>
  <ion-toolbar>
    <ion-title>listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <h1>En construcción...</h1>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-list>
</ion-content>