#photo-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    align-items: start;
    margin: 20px;
    height: 100%;
}

img {
    height: 400px;
}