<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fotografía y geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fotografía y geolocalización</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <h1>Aplicación de fotografía y geolocalización</h1>
    <div>
      <ion-button [routerLink]="['camera']" expand="block" shape="round">
        <ion-icon slot="start" icon="camera"></ion-icon>
        Camera
      </ion-button>
      <ion-button [routerLink]="['listing']" expand="block" shape="round">
        <ion-icon slot="start" icon="list"></ion-icon>

        List
      </ion-button>
    </div>
  </section>
</ion-content>