<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>clientsPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let element of elements">
      <ion-label class="element-label">{{element.id}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="goToNewPageNavCtrl()">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    Edit client</ion-button>
</ion-content>