<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>clientsPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let element of elements">
      <ion-col size="1.5">
        <ion-title class="">{{element.name}}</ion-title>
      </ion-col>
      <ion-col>
        <ion-label class="element-label ion-text-wrap ">{{element.description}}</ion-label>
      </ion-col>
      <ion-col size="1">
        <ion-button (click)="goToNewPageNavCtrl(element.id)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit client
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>