<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Búsqueda de películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Búsqueda</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="searchBar">
    <ion-item>
      <ion-searchbar [(ngModel)]="searchTerm" (keyup.enter)="searchChanged()"
        placeholder="Introduce el nombre de la película"></ion-searchbar>
      <ion-button (click)="searchChanged()"><ion-icon slot="end" name="search"></ion-icon>
        Buscar
      </ion-button>
    </ion-item>

  </div>
  <div id="container">
    <ion-list>
      <ion-item button *ngFor="let item of (results | async)">
        <ion-label text-wrap>
          {{ item.Title }} ({{ item.Year }})
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>