<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="details">{{details.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="details">
    <ion-img src="{{details.Poster}}" alt=""></ion-img>
    <p>Country: <span>{{ details.Country }}</span></p>
    <p>Actors: <span>{{ details.Actors }}</span></p>
    <p>Year: <span>{{ details.Year }}</span></p>
    <p>Type: <span>{{ details.Type }}</span></p>
    <p>Genre: <span>{{ details.Genre }}</span></p>
    <p>Director: <span>{{ details.Director }}</span></p>
  </div>

</ion-content>