<ion-header>
  <ion-toolbar>
    <ion-title>{{searchTerm}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-card button *ngFor="let movie of (movies | async)" [routerLink]="['movie']"
          [queryParams]="{id: movie.imdbID}" [state]="{data: movie}">
          <ion-card-header><ion-img src="{{movie.Poster}}"></ion-img></ion-card-header>
          <ion-card-title>{{movie.Title}}</ion-card-title>
          <ion-card-content>{{movie.Title}}</ion-card-content>
          <ion-card-subtitle>{{movie.Title}}</ion-card-subtitle>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>