<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{searchTerm}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-card button *ngFor="let movie of (movies | async)" [routerLink]="[movie.imdbID]">
          <ion-card-header>
            <div id="img-container">
              <ion-img src="{{movie.Poster}}"></ion-img>
            </div>
          </ion-card-header>
          <ion-card-title>{{movie.Title}}</ion-card-title>
          <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
          <ion-card-content>{{movie.Type}}</ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>