<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>editClientPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="element">
    <ion-col size="1.5">
      <ion-title class="">{{element.name}}</ion-title>
    </ion-col>
    <ion-col>
      <ion-label class="element-label ion-text-wrap ">{{element.description}}</ion-label>
    </ion-col>

  </ion-item>
  <div id="home-button-container">
    <ion-button [routerLink]="['/']">
      <ion-icon slot="start" name="home"></ion-icon>
      Go back home
    </ion-button>
  </div>
</ion-content>